{{ file_notification }}
options {
        directory "{{ bind_params.cache_dir }}";
        listen-on { {{ bind_params.listen_on }} };
        allow-transfer { {{ bind_params.allow_transfer }} };
        allow-notify { {{ bind_params.allow_notify }} };
        allow-recursion { {{ bind_params.allow_recursion }} };
        allow-update { {{ bind_params.allow_update }} };
        empty-zones-enable {{ bind_params.empty_zones_enable }}
        version "[SECURED]";
        tcp-clients {{ bind_params.tcp_clients }}
        dnssec-enable {{ bind_params.dnssec_enable }}
        //dnssec-validation yes;
        //dnssec-lookaside auto;
        key-directory "{{ bind_params.key_directory }}";
        {%  if bind_params.enable_forwarders == true %} 
        forwarders {
                {{ bind_params.forwarders }}
        };
        {% else %}
        //forwarders {
                //127.0.0.1;
        //}
        {% endif %} 
        auth-nxdomain {{ bind_params.auth_nx_domain }}
        listen-on-v6 { {{ bind_params.listen_on_v6 }} };
};
logging {
        channel named_info {
                file "{{ bind_params.custom_logging_dir }}/dns_info.log" versions 10 size 750K;
                severity {{ bind_params.custom_logging_severity }}
                print-category yes;
                print-severity yes;
                print-time yes;
        };
        channel named_security {
                file "{{ bind_params.custom_logging_dir }}/dns_sec.log" versions 3 size 100k;
                severity {{ bind_params.custom_logging_severity }}
                print-time yes;
                print-severity yes;
                print-category yes;
        };
        channel named_query {
                file "{{ bind_params.custom_logging_dir }}/dns_query.log" versions 3 size 100k;
                #severity info;
                print-time yes;
                print-category yes;
        };
        category default { named_info; };
        category security { named_security; };
        category queries { named_query; };
};
