;{{ file_notification }}
$TTL {{ item.ttl }}
@       IN      SOA     {{ item.contacts }} (
                {{ item.serial }} serial
                {{ item.refresh }} refresh (3 hours)
                {{ item.retry }} retry (30 minutes)
                {{ item.expire }} expire (2 weeks)
                {{ item.minimum }} minimum (6 hours)
)

{%  if item.nsrecords is defined %}
{% for nsrecord in item.nsrecords %}
      IN  NS {{ nsrecord }}
{% endfor %}
{% endif%}

{%  if item.mxrecords is defined  %}
{% for mxrecord in item.mxrecords %}
      IN  MX {{ mxrecord.priority }} {{ mxrecord.hostname }}
{% endfor %}
{% endif%}

{%  if item.arecords is defined %}
{% for arecord in item.arecords %}
{{ arecord.hostname }} IN A {{ arecord.ip_address }}
{% endfor %}
{% endif%}

{%  if item.cnames is defined %}
{% for cname in item.cnames %}
{{ cname.src }} IN CNAME {{ cname.dst }}
{% endfor %}
{% endif%}

{%  if item.caarecords is defined %}
{% for caarecord in item.caarecords %}
{{ caarecord.record }} IN TXT {{ caarecord.value }}
{% endfor %}
{% endif%}

{%  if item.txtrecords is defined %}
{% for txtrecord in item.txtrecords %}
{{ txtrecord.record }} IN TXT {{ txtrecord.value }}
{% endfor %}
{% endif%}

{%  if item.includes is defined %}
{% for include in item.includes %}
$INCLUDE {{ include }}
{% endfor %}
{% endif%}
